body {
  text-align: center;
  font-family: Arial;
  background-color: #1e1e2e;
  color: #cdd6f4;
  font-size: 18px;
  font-weight: 400;
}

hr {
  max-width: 25em;
  border: 2px #a6adc8 solid;
  border-radius: 2px;
}

h3 {
  margin: 0px;
}

a {
  cursor: pointer;
  color: #f38ba8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: none;
  border: 1px solid #f38ba8;
  padding: 1px;
  margin: -2px;
}

textarea, input {
  width: 22em;
  font-size: 0.8em;
  border: none;
}

textarea:focus, input:focus, button:focus {
  outline: none;
  border-color: #45475a;
}

textarea {
  font-family: Arial;
  resize: vertical;
  height: 5em;
}

button {
  cursor: pointer;
}

button:active {
  scale: 95%;
}

textarea, input, button {
  background-color: #11111b;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 3px;
  border: none;
  color: #cdd6f4;
  border: 1px solid #313244;
}

input::placeholder, textarea::placeholder {
  color: #a6adc8;
}

.msg {
  width: 30em;
  border: 2px solid #585b70;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  margin: 15px;
  text-align: left;
  word-wrap: break-word;
}

.msg span {
  color: #a6adc8;
}

@media screen and (max-width: 720px) {
  .msg {
    width: 80vw;
  }
}
